.f3-table{
	display: table;
	width: 100%;
}
.f3-table-row {
	display: table-row;
}
.f3-table-row:nth-child(even) {
	background-color: #f9f9f9;
}
.f3-table-cell, .f3-table-head {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.f3-table-heading {
	background-color: #d9edf7;
	display: table-header-group;
	font-weight: bold;
}
.f3-table-foot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.f3-table-body {
	display: table-row-group;
}

.f3-map-wrapper {
    margin-bottom: 10px;
}

.f3-map {
    height: 400px;
    width: 100%;
}

.f3-map-instructions {
	font-size: .8em;
	font-style: italic;
}

.f3-map-details {
	display: none;
}

.f3-map-details-location {
	float: left;
	font-weight: bold;
	font-size: 26;
}

.f3-map-details-address {
	float: right;
}

.f3-map-details-header {
	clear: both;
}

.f3-map-details-workout {
	width: 100%;
}

.f3-map-details-time {
	font-size: 0.8em;
	width: 100%;
}

.f3-table-title {
	font-weight: 400;
	padding-bottom: 15px;
	font-size: 2rem;
}

.f3-table-cell-marker:hover {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {

	.f3-table {
		display: block;
		width: 100%;
	}

	.f3-table-heading {
		display: none;
	}

	.f3-table-body {
		display: block;
	}

	.f3-table-row {
		display: block;
		border: 1px solid #999999;
	}

	.f3-table-cell {
		display: block;
		text-align: right;
		border: none;
	}

	.f3-table-cell::before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	}

	.f3-map-details-header {
		display: block;
		padding-bottom: 52px;
	}

	.f3-map-details-address {
		display: block;
		float: left;
		width: 100%
	}
	
	.f3-map-details-workout {
		display: block;
		float: none;
		width: 100%
	}

	.f3-calendar-row:nth-child(even) {
		background-color: #f9f9f9;
	}

}